body {
  margin: 0;
}

/* 共通 */
button {
  vertical-align:middle;
}

ul {
  list-style: none;
  padding: 0;
}

/* ヘッダー */
header {
  position: fixed;
  top: 0;
  width: 100%;
}

header .container {
  margin-bottom: 16px;
  padding: 0 16px;
  border-bottom: 1px solid;
  display: flex;
  background: white;
}

h1 {
  margin: 0 16px;
  font-size: 24px;
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: auto;              /* 右寄せ */
}

header ul > li + li {
  margin-left: 16px;
}

/* main */
main .container {
  width: 480px;
  margin: 0 auto;
  margin-top: 50px;
}

/* 新規投稿 */
textarea {
  width: 100%;
  height: 80px;
}

.form-input {
  text-align: right;
}

/* 投稿一覧 */
.back-link {
  font-size: 14px;
}

h2 {
  border-bottom: 1px solid;
  font-size: 18px;
  margin: 16px 0;
  padding-bottom: 8px;
  display: flex;
}

h2 > button {
  margin-left: auto;
}

h2 + ul > li {
  border-bottom: 1px solid #ccc;
}

.comment_link {
  text-align: right;
}

.user_name {
  font-weight: bold;
}

/* エラー */
.error {
  color: red;
  font-size: 14px;
  text-align: left;
}

/* 投稿を管理する */
.management {
  display: flex;
  margin-top: 8px;
}

.management > a {
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  margin-left: auto;
}

form > button {
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: normal;
  color: #15c;
  cursor: pointer;
}

li > p {
  margin: 0;
}

/* 編集 */
.form-button {
  text-align: right;
}

.editcheck {
  font-size: 12px;
  color: #ccc;
}

/* 詳細 */
h3 {
  border-bottom: 1px solid;
  font-size: 16px;
  margin: 16px 0;
  padding-bottom: 8px;
  /* display: flex; */
}

form + ul > li, h3 + ul > li {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}
